maps/*
proc/temp.gdb
mxds/output/*.mxd
data/layer_cache_unfresh.gdb
data/layer_cache.gdb
*.ldb
*.pyc
*Thumbs.db

data/geo_aux.gdb/*
data/Hillshade/*
data/keys/*
data/layer_cache*
data/raster_export/*
data/sqlite3.exe
data/dumps/backups

dependencies/SQLAlchemy*
dependencies/setuptools-6.1/*
dependencies/paramiko-1.7.7.1/*
dependencies/Logbook-0.7.0/*
dependencies/adv_inst/*
dependencies/**.exe
dependencies/**.msi
dependencies/log_*
dependencies/sqlite3/*
dependencies/MinGW-4.8.1-4.7z

documentation/sphinx/build/docutils/*
documentation/sphinx/build/Jinja2/*
documentation/sphinx/build/Pygments/*
documentation/sphinx/build/sphinx/*

old_runs/*
archives/*
inputs/data_storage/*

log/logbak/*

.hg/*
.hgignore
.hgtags

scripts/.hg/*

tbx/.hg/*

utils/Convert_Directory/*
utils/HUC_12s_CWS_Mod.gdb/*
utils/zonal_statistics_as_table.py

*.sr.lock
*.orig
inputs/*
proc/*
.idea/*
proc/temp/*
documentation/sphinx/build/*

